In [2]:
#import tools & Data
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy 
import re

df = pd.read_csv("GSAF5.csv", encoding = "iso8859-1")

In [3]:
# changing column names

columns = "CaseNumber", "Date", "Year", "Type", "Country", "Area", "Location", "Activity", "Name", "Sex", "...", "Species", "Investigator or Source", "pdf", "href formula", "href", "Case Number.1","Case Number.2", "original order", "Unnamed: 22","Unnamed: 23"
ncolumns = "CaseNumber", "Date", "Year", "Type", "Country", "Area", "Location", "Activity", "Name", "Sex", "...", "Species", "Investigator or Source", "pdf", "href formula", "href", "Case Number.1","Case Number.2", "original order", "Unnamed: 22","Unnamed: 23"


New_df= df.rename(columns = {columns : ncolumns})

In [4]:
#drop nan columns 

New_df.dropna(how = "all", axis='columns')
New_df.dropna(thresh=2)
New_df.dropna(subset=["Date", "Year", "Type", "Country", "Area", "Location", "Activity"])
New_df = New_df.replace(0, pd.np.nan).dropna(axis=0, how='any', subset=["Date", "Year", "Type", "Country", "Area", "Location", "Activity"])
print(New_df)
# no complete nan columns

       Case Number                   Date    Year        Type  \
0     2016.09.18.c              18-Sep-16  2016.0  Unprovoked
1     2016.09.18.b              18-Sep-16  2016.0  Unprovoked
2     2016.09.18.a              18-Sep-16  2016.0  Unprovoked
3       2016.09.17              17-Sep-16  2016.0  Unprovoked
4       2016.09.15              16-Sep-16  2016.0  Unprovoked
5     2016.09.15.R              15-Sep-16  2016.0        Boat
6       2016.09.11              11-Sep-16  2016.0  Unprovoked
7       2016.09.07              07-Sep-16  2016.0  Unprovoked
8       2016.09.06              06-Sep-16  2016.0  Unprovoked
9     2016.09.05.b              05-Sep-16  2016.0  Unprovoked
10    2016.09.05.a              05-Sep-16  2016.0  Unprovoked
11      2016.09.04              04-Sep-16  2016.0  Unprovoked
12      2016.09.01              01-Sep-16  2016.0  Unprovoked
13    2016.08.29.b              29-Aug-16  2016.0  Unprovoked
14    2016.08.29.a              29-Aug-16  2016.0  Unprovoked
16      2016.08.25              25-Aug-16  2016.0  Unprovoked
17      2016.08.07              07-Aug-16  2016.0  Unprovoked
18      2016.08.06              06-Aug-16  2016.0  Unprovoked
19      2016.08.04              04-Aug-16  2016.0  Unprovoked
20      2016.07.29              29-Jul-16  2016.0  Unprovoked
22      2016.07.28              28-Jul-16  2016.0        Boat
23      2016.07.27              27-Jul-16  2016.0    Provoked
24      2016.07.26              26-Jul-16  2016.0  Unprovoked
25      2016.07.24              24-Jul-16  2016.0  Unprovoked
26    2016.07.23.b              23-Jul-16  2016.0  Unprovoked
27    2016.07.23.a              23-Jul-16  2016.0  Unprovoked
28      2016.07.20              20-Jul-16  2016.0    Provoked
29      2016.07.17              17-Jul-16  2016.0        Boat
30    2016.07.16.b              16-Jul-16  2016.0  Unprovoked
32      2016.07.15              15-Jul-16  2016.0  Unprovoked
...            ...                    ...     ...         ...
5797    1835.01.06            06-Jan-1835  1835.0  Unprovoked
5798  1834.07.15.R   Reported 15-Jul-1834  1834.0  Unprovoked
5799    1832.06.04            04-Jun-1832  1832.0  Unprovoked
5800  1832.01.23.R   Reported 23-Jan-1832  1832.0  Unprovoked
5801  1831.01.22.R  Reported 22- Jan-1831  1831.0     Invalid
5802    1830.07.26            26-Jul-1830  1830.0  Unprovoked
5803  1830.07.02.R   Reported 02-Jul-1830  1830.0  Unprovoked
5804    1830.04.30            30-Apr-1830  1830.0  Unprovoked
5807    1828.09.28            28-Sep-1828  1828.0  Unprovoked
5808    1828.00.00                   1828  1828.0  Unprovoked
5809  1827.06.00.b               Jun-1827  1827.0  Unprovoked
5810  1827.06.00.a               Jun-1827  1827.0  Unprovoked
5816  1825.00.00.b                  1820s  1825.0  Unprovoked
5821    1817.06.24            24-Jun-1817  1817.0  Unprovoked
5822    1817.06.15            15-Jun-1817  1817.0  Unprovoked
5823    1817.05.11            11-May-1817  1817.0  Unprovoked
5825  1816.09.03.R  Reported 03-Sept-1816  1816.0  Unprovoked
5826    1812.07.00               May 1812  1812.0  Unprovoked
5834    1788.05.10            10-May-1788  1788.0        Boat
5837    1779.00.00                   1779  1779.0  Unprovoked
5841    1767.00.00                   1767  1767.0     Invalid
5844    1749.00.00                   1749  1749.0  Unprovoked
5846    1748.00.00                   1748  1748.0  Unprovoked
5848  1738.04.06.R   Reported 06-Apr-1738  1738.0  Unprovoked
5850    1721.06.00              June 1721  1721.0  Unprovoked
5851    1703.03.26            26-Mar-1703  1703.0  Unprovoked
5853  1700.00.00.b                  1700s  1700.0  Unprovoked
5857  1637.00.00.R          Reported 1637  1637.0  Unprovoked
5859    1642.00.00                   1642  1642.0  Unprovoked
5860    1595.00.00                   1595  1595.0  Unprovoked

               Country                    Area  \
0                  USA                 Florida
1                  USA                 Florida
2                  USA                 Florida
3            AUSTRALIA                Victoria
4            AUSTRALIA                Victoria
5            AUSTRALIA       Western Australia
6                  USA                 Florida
7                  USA                  Hawaii
8        NEW CALEDONIA          North Province
9                  USA          South Carolina
10           AUSTRALIA       Western Australia
11                 USA                 Florida
12                 USA              California
13                 USA                 Florida
14                 USA                 Florida
16                 USA                 Florida
17             BAHAMAS   New Providence Island
18                 USA                  Hawaii
19                 USA                 Florida
20               SPAIN       Alicante Province
22           AUSTRALIA       Western Australia
23                 USA                 Florida
24           AUSTRALIA         New South Wales
25               JAPAN        Kochi Prefecture
26           AUSTRALIA                Tasmania
27             BAHAMAS           Abaco Islands
28           AUSTRALIA              Queensland
29                 USA                 Alabama
30                 USA                 Florida
32                 USA          South Carolina
...                ...                     ...
5797        TASMAN SEA          35º39 : 165º8'
5798  FRENCH POLYNESIA         Society Islands
5799         AUSTRALIA         New South Wales
5800         AUSTRALIA         New South Wales
5801         AUSTRALIA                Tasmania
5802               USA           Massachusetts
5803             INDIA              Tamil Nadu
5804             INDIA              Tamil Nadu
5807      SIERRA LEONE            Western Area
5808               USA                  Hawaii
5809      SIERRA LEONE           Western Area
5810      SIERRA LEONE           Western Area
5816         AUSTRALIA                Tasmania
5821               USA          South Carolina
5822             INDIA             Maharashtra
5823         SRI LANKA        Western Province
5825               USA            Rhode Island
5826           ENGLAND                   Devon
5834         AUSTRALIA         New South Wales
5837               USA                  Hawaii
5841            FRANCE            Côte d'Azur
5844              CUBA         Havana Province
5846            PANAMA  Las Perlas archipelago
5848             ITALY                  Sicily
5850             ITALY                Sardinia
5851          BARBADOS         Southwest coast
5853            FRANCE            Côte d'Azur
5857             INDIA             West Bengal
5859               USA               New York
5860             INDIA                  Kerala

                                               Location  \
0                      New Smyrna Beach, Volusia County
1                      New Smyrna Beach, Volusia County
2                      New Smyrna Beach, Volusia County
3                                      Thirteenth Beach
4                                           Bells Beach
5                                               Bunbury
6                         Ponte Vedra, St. Johns County
7                                          Makaha, Oahu
8                                                Koumac
9       Kingston Plantation, Myrtle Beach, Horry County
10                                             Injidup
11                     New Smyrna Beach, Volusia County
12            Refugio State Beach, Santa Barbara County
13                     New Smyrna Beach, Volusia County
14                     New Smyrna Beach, Volusia County
16                        Ponte Vedra, St. Johns County
17                                               Nassau
18                                                 Maui
19                     New Smyrna Beach, Volusia County
20                                     Arenales del Sol
22                                          Near Albany
23                          Florida Keys, Monroe County
24                               Sharpes Beach, Ballina
25                                          Irino Beach
26                                        Clifton Beach
27                                     Green Turtle Cay
28                20 k off The Spit, off the Gold Coast
29                                   8 miles off Mobile
30                     New Smyrna Beach, Volusia County
32                     North Myrtle Beach, Horry County
...                                                 ...
5797                      Alongside the whaler Marianne
5798                                             Tahiti
5799                                 South Head, Sydney
5800                                             Sydney
5801                                             Hobart
5802                           Swampscott, Essex County
5803                                             Madras
5804                                          St. Thomé
5807  River Sierra Leone, 35 miles  upriver from Fre...
5808                                  Uo, Lahaina, Maui
5809             Tombo Island in the Sierra Leone River
5810             Tombo Island in the Sierra Leone River
5816                      Sweet Water Point, Pitt Water
5821               Charleston Harbor, Charleston County
5822                                Bombay (now Mumbai)
5823                                            Colombo
5825                                     Bristol Harbor
5826                                           Mill Bay
5834                                      Sydney Harbor
5837                                     Maliu, Hawai'i
5841                                         St. Tropez
5844                                      Havana Harbor
5846                              Taboga & Isla del Rey
5848                                  Strait of Messina
5850                             Ponte della Maddelena,
5851                                       Carlisle Bay
5853                                            Antibes
5857                                Hooghly River mouth
5859                    Between Manhattan and The Bronx
5860                                       River Cochin

                                               Activity  \
0                                               Surfing
1                                               Surfing
2                                               Surfing
3                                               Surfing
4                                               Surfing
5                                               Fishing
6                                                Wading
7                                              Swimming
8                                          Kite surfing
9                                       Boogie boarding
10                                              Surfing
11                                        Body boarding
12                                         Spearfishing
13                                              Surfing
14                                              Surfing
16                                               Wading
17                                           Snorkeling
18                                    SUP Foil boarding
19                                              Surfing
20                                             Swimming
22                                             Kayaking
23                                           Lobstering
24                                              Surfing
25                                              Surfing
26                                              Surfing
27                                         Spearfishing
28                                              Fishing
29                Fishing in Alabama Deep Fishing Rodeo
30                                              Surfing
32                                             Swimming
...                                                 ...
5797                               Hooking into a whale
5798                                           Swimming
5799                                            Fishing
5800                                            Bathing
5801                    Boat capsized, clinging to line
5802  Fishing from dory, shark upset boat & he fell ...
5803                                      Washing a dog
5804                                            Bathing
5807  British ship, Britannia,  was loading lumber. ...
5808                                            Surfing
5809                                           Swimming
5810                                           Swimming
5816                                           Swimming
5821                                           Swimming
5822                                           Swimming
5823                                           Swimming
5825                                           Swimming
5826                                           Swimming
5834                                            Fishing
5837                                            Surfing
5841                                            Bathing
5844                                           Swimming
5846                                       Pearl diving
5848                                           Swimming
5850                                           Swimming
5851                                           Swimming
5853                                            Bathing
5857                                             Wading
5859                                          Swimming
5860  Ship lay at anchor & man was working on its ru...

                                                   Name Sex   ...  \
0                                                  male    M  ...
1                                        Chucky Luciano    M  ...
2                                                  male    M  ...
3                                       Rory Angiolella    M  ...
4                                                  male    M  ...
5                                Occupant: Ben Stratton  NaN  ...
6                                                  male    M  ...
7                                                female    F  ...
8                                          David Jewell    M  ...
9                                        Rylie Williams    F  ...
10                                        Fraser Penman    M  ...
11                                         Austin Moore    M  ...
12                                     Tyler McQuillen     M  ...
13                                        Sam Cumiskey     M  ...
14                                                 male    M  ...
16                                       David Cassetty    M  ...
17                                         Johnny Stoch    M  ...
18                                        Connor Baxter    M  ...
19                                          Nolan Tyler    M  ...
20                                                 male    M  ...
22                                          Ian Watkins    M  ...
23                                          Warren Sapp    M  ...
24                              Curran See & Harry Lake    M  ...
25                                                 male    M  ...
26                                    Zebulon Critchlow    M  ...
27                                       Steve Cutbirth    M  ...
28                                      Scott van Burck    M  ...
29                                 Occupant: Ben Raines  NaN  ...
30                                               female    F  ...
32                                                 male    M  ...
...                                                 ...  ...  ...
5797                                               male    M  ...
5798                                  Kaugatava Orurutm    F  ...
5799                                  Aboriginal female    F  ...
5800                                               male    M  ...
5801                                      Robert Dudlow    M  ...
5802                                      Joseph Blaney    M  ...
5803                                               male    M  ...
5804                                    Ensign Bromwick    M  ...
5807       Thomas Corrigle, an apprentice from the ship    M  ...
5808                                               Male    M  ...
5809  A boy, one of the crew of the ship Thomas Gelston    M  ...
5810         William Davis,  of the ship Thomas Gelston    M  ...
5816                             "Amphibious Jack" male    M  ...
5821                                              Jemmy    M  ...
5822                                   Charles Anderson    M  ...
5823                                        William May    M  ...
5825                                               male  NaN  ...
5826                soldier from the Lancashire militia    M  ...
5834                                               boat  NaN  ...
5837                                   Nu'u-anu-pa'a hu    M  ...
5841                                    Samuel Matthews    M  ...
5844                                       Brook Watson    M  ...
5846                                     African slaves    M  ...
5848                                               male    M  ...
5850                                               male    M  ...
5851  Samuel Jennings, a deserter from the British f...    M  ...
5853                                             seaman    M  ...
5857                                     Hindu pilgrims  NaN  ...
5859                                 Antony Van Corlear    M  ...
5860                                               male    M  ...

                                          Species   \
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                        2 m shark
5                                              NaN
6                                   3' to 4' shark
7                                 Tiger shark, 10?
8                                              NaN
9                                              NaN
10                                             NaN
11                                             NaN
12                                     White shark
13                                  Bull shark, 6'
14                                             NaN
16                                             NaN
17                                             NaN
18                               Tiger shark, 10'
19                                  Blacktip shark
20                                      Blue shark
22                                     White shark
23                                 Nurse shark, 4'
24                                             NaN
25                                             NaN
26                                             NaN
27                                  Bull shark, 6'
28                                  reef shark, 1m
29                               Tiger shark, 10'
30                                             NaN
32                                             NaN
...                                            ...
5797                                           NaN
5798        Reported to involve a hammerhead shark
5799                                           NaN
5800                                           NaN
5801                                           NaN
5802                                           NaN
5803                                           NaN
5804                                           NaN
5807                                           NaN
5808                                           NaN

In [5]:
#New_df.Year(dtype='int32')

#Years = df["Year"]
#deaths = df["Year"]

#plot = New_df.plot.scatter(x=,y=deaths)
print(New_df.plot.hist())

AxesSubplot(0.125,0.11;0.775x0.77)

In [41]:
#Countrycount = New_df["Country"]
Result = New_df.groupby("Country").agg({"Country":"count"})
Result

                            Country
Country
 TONGA                            3
AMERICAN SAMOA                    3
ANTIGUA                           1
ARGENTINA                         1
ATLANTIC OCEAN                    1
AUSTRALIA                      1116
BAHAMAS                          62
BARBADOS                          4
BELIZE                            1
BERMUDA                           7
BRAZIL                           89
BRITISH ISLES                     1
BRITISH NEW GUINEA                1
BRITISH WEST INDIES               1
BURMA                             2
CANADA                           10
CAPE VERDE                        1
CARIBBEAN SEA                     1
CAYMAN ISLANDS                    1
CHILE                             5
CHINA                             4
COLUMBIA                          6
COSTA RICA                        7
CROATIA                          22
CUBA                             34
CYPRUS                            1
DOMINICAN REPUBLIC                5
ECUADOR                           6
EGYPT                            22
EGYPT                             2
...                             ...
SOUTH ATLANTIC OCEAN              3
SOUTH KOREA                       4
SPAIN                            32
SRI LANKA                         9
ST. MAARTIN                       1
SUDAN                             1
SUDAN?                            1
Seychelles                        1
Sierra Leone                      1
TAIWAN                            6
TANZANIA                          1
TASMAN SEA                        1
THAILAND                          3
THE BALKANS                       1
TONGA                            11
TRINIDAD & TOBAGO                 2
TUNISIA                           1
TURKEY                            5
TURKS & CAICOS                    3
UNITED ARAB EMIRATES              1
UNITED ARAB EMIRATES (UAE)        2
UNITED KINGDOM                    9
URUGUAY                           1
USA                            1940
VANUATU                           9
VENEZUELA                         5
VIETNAM                           7
WESTERN SAMOA                     1
YEMEN                             2
YEMEN                             4

[138 rows x 1 columns]

In [6]:
Auto = pd.read_csv("https://pynative.com/wp-content/uploads/2019/01/Automobile_data.csv")
print(Auto.head())
print(Auto.tail())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [7]:
Auto = pd.read_csv("https://pynative.com/wp-content/uploads/2019/01/Automobile_data.csv", na_values={
"price":["?","n.a"],
'stroke':["?","n.a"],
'horsepower':["?","n.a"],
'peak-rpm':["?","n.a"],
'average-mileage':["?","n.a"]})
Auto.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [8]:
Highest_price = Auto[['company','price']][df.price==df['price'].max()]
print(Highest_price)

AttributeError: 'DataFrame' object has no attribute 'price'